{% extends "base.html" %}

{% block title %}To Do List{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="text-center mt-5 mb-4 welcome-title">Welcome to the To Do List</h1>
    <h4 class="text-center my-4 mb-4 welcome-subtitle">
        <span class="d-block">Log in to continue with your lists or start a new one.</span>
    </br>
        <span class="d-block">Don’t have an account? Sign up for free.</span>
    </h4>

    {% if session.get('user_id') %}
        <div class="text-center mt-5">
            <a href="{{ url_for('new_todo') }}" class="btn btn-primary px-4">+ New To Do List</a>
        </div>
    {% else %}
        <div class="text-center mt-5">
            <a href="{{ url_for('login') }}" class="btn btn-primary px-4 me-2">Log In</a>
            <a href="{{ url_for('signup') }}?tab=signup" class="btn btn-secondary px-4">Sign Up</a>
        </div>
    {% endif %}
</div>
{% endblock %}
