{% extends "base.html" %}

{% block title %}To Do List{% endblock %}

{% block content %}
<div class="page-content page-container page-container-body" id="page-content">
    <div class="padding">
        {% if session.get('user_id') %}
            <div class="row container d-flex justify-content-center">
                <div class="col-md-12">
                    <div class="card px-3">
                        <div class="card-body">
                            <h4 class="card-title">Create To do list</h4>
                            <div class="add-items d-flex">
                                <input type="text" class="form-control todo-list-input" placeholder="What do you need to do today?">
                                <button class="add btn btn-primary font-weight-bold todo-list-add-btn">Add</button>
                            </div>
                            <div class="list-wrapper">
                                <ul class="d-flex flex-column-reverse todo-list">
                            </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <h4 class="text-center my-4 mb-4 welcome-subtitle">
                <span class="d-block">
                    Log in to create a new to-do list to make your day more productive!
                </span>
            </br>
                <span class="d-block">
                    Don’t have an account? Sign up for free.
                </span>
            <div class="text-center mt-5">
                <a href="{{ url_for('login') }}" class="btn btn-primary px-4 me-2">Log In</a>
                <a href="{{ url_for('signup') }}?tab=signup" class="btn btn-secondary px-4">Sign Up</a>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}