{% extends "base.html" %}

{% block title %}To Do List{% endblock %}

{% block content %}
<div class="page-content page-container page-container-body" id="page-content">
    <div class="padding">

        <div class="row container d-flex justify-content-center">
            <div class="col-md-12">
                <div class="card px-3">
                    <div class="card-body">
                        <form id="todo-list-form" method="POST" action="{{ url_for('new_todo') }}">
                            <div class="mb-4">
                                <input
                                    type="text"
                                    name="title"
                                    id="list-title-input"
                                    class="form-control form-control-lg fw-bold todo-list-title-input"
                                    placeholder="To do list title - Type here to set title"
                                >
                            </div>

                            <div class="add-items d-flex mb-3">
                                <input type="text" class="form-control todo-list-input" placeholder="What do you need to do today?">
                                <button class="add btn btn-primary font-weight-bold todo-list-add-btn">Add</button>
                            </div>

                            <div class="list-wrapper mb-3">
                                <ul class="d-flex flex-column-reverse todo-list">
                                    <!-- visible items appended here -->
                                </ul>
                            </div>

                            <!-- Hidden container for server submission -->
                            <div id="hidden-items"></div>

                            <button type="submit" class="btn btn-primary w-30 todo-list-create-btn">Create List</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}