<!-- templates/sidebar.html -->
<div class="sidebar px-3 py-4">
    {% if session.get('user_id') %}
    <div class="user-info mb-4">
        <h5 class="mb-1">
            <a href="/profile/{{ session.get('user_id') }}" class="text-white text-decoration-none">
            {{ session.get('first_name') }}'s To-Do List
            </a>
        </h5>

    </div>
    {% endif %}
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="/new_todo" class="nav-link">+ New To Do List</a>
        </li>
        <hr class="text-white">
        <h5 class="mb-3">Lists</h5>
        {% if session.get('user_id') %}
            {% for todo in old_todos %}
            <li class="nav-item">
                <a href="/{{ session.user_id }}/old_todo/{{ todo.id }}" class="nav-link d-flex justify-content-between align-items-center">

                    <!-- Left side: icon + title -->
                    <div class="d-flex align-items-center text-truncate" style="max-width: calc(100% - 30px);">
                        {% if todo.due_date < today %}
                            <img src="{{ url_for('static', filename='icons/warning.png') }}"
                                alt="" width="20" class="me-2">
                        {% else %}
                            {% if todo.task_urgency == 'immediate' %}
                                <img src="{{ url_for('static', filename='icons/red_circle.png') }}"
                                    alt="" width="20" class="me-2">
                            {% elif todo.task_urgency == 'timely' %}
                                <img src="{{ url_for('static', filename='icons/orange_circle.png') }}"
                                    alt="" width="20" class="me-2">
                            {% elif todo.task_urgency == 'flexible' %}
                                <img src="{{ url_for('static', filename='icons/green_circle.png') }}"
                                    alt="" width="20" class="me-2">
                            {% endif %}
                        {% endif %}

                        <span class="text-truncate">{{ todo.title }}</span>
                    </div>

                    <!-- Right side: delete bin -->
                    <button type="button" class="delete-list-btn">
                        <img src="{{ url_for('static', filename='icons/delete.png') }}"
                            alt="Delete" width="20">
                    </button>
                </a>
            </li>

            {% endfor %}
        {% endif %}
    </ul>
</div>